.right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.right > div{
  height: 32%;
  width: 100%;
}
.right > div.full{
  height: 100%;
  width: 100%;
}

.half{
  display: flex;
}

.half > div {
  height: 100%;
  width: 50%;
}

.half > div.full {
  height: 100%;
  width: 100%;
}

.git{
  box-sizing: border-box;
  border-top: 20px solid rgb(227, 227, 227);
  border-radius: 5px;
  box-shadow: 0 2px 10px black;
  background-color: white;
  padding: 5px 10px;
}

.half > div{
  margin: 0 5px;
}

.half > div > ul{
  display: flex;
  flex-flow: row wrap;
}
.half > div > ul li{
  width: 10%;
  margin: 5px;
}

.half > div > ul li p,{
  text-align: center;
}

.half > div img{
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.half > div img:hover{
  transform: scale(1.1);
}
