.head{
  height: 50%;
}

h1{
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: white;
}

.terminal{
  height: 50%;
  font-family: 'Cutive Mono', monospace;
  font-size: 16px;
  background-color: #191919;
  padding: 22px;
  color: #13c24f;
  border-radius: 5px;
  border-top: 20px solid rgb(227, 227, 227);
  box-shadow: 0 2px 10px black;
  box-sizing: border-box;
}

.terminal input{
  font-family: 'Cutive Mono', monospace;
  width: 90%;
  font-size: 16px;
  background: none;
  border: none;
  outline: none;
  color: #13c24f;
}


#terminal-command-list{
  max-height: 95%;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

#terminal-command-list li::before{
  content: '> '
}
#terminal-command-list li{
  margin: 5px 0;
}

#terminal-command-list div.invalid{
  color: red;
}

.level-instructions{
  margin-top: 20px;
  color: white;

}

.header{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.header h2{
  font-size: 20px;
  font-weight: 700;
  background-color: rgba(256, 256, 256, 0.3);
  padding: 5px 10px;
}

#instructions{
  font-size: 20px;
  line-height: 1.5;
}

.bg{
  background-color: rgba(256, 256, 256, 0.3);
  padding: 1px 6px;
}

.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
