body {
  margin: 0px;
  display: flex;
  height: 100vh;
  font-family: 'Cutive Mono', monospace;
  background-color: #4B84B9;
}


.hidden{
  display: none !important;
}

.left, .right{
  box-sizing: border-box;
  height: 100vh;
  padding: 15px;
}

.left{
  width: 50%;
}

.right{
  width: 50%;
}

.window{
  position: relative;
}

.window > h6 {
  margin-bottom: 2px;
  font-family: 'Roboto Mono', monospace;
  color: black;
  width: 100%;
  /*font-weight: 300;*/
  text-align: center;
  position: absolute;
  bottom: 100%;
  left: 0%;
}
