body {
  margin: 0px;
  display: flex;
  height: 100vh;
  font-family: 'Cutive Mono', monospace;
  background-color: #4B84B9;
}


.hidden{
  display: none;
}

.left, .right{
  box-sizing: border-box;
  height: 100vh;
  padding: 10px;
}

.right{

}
